* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grow {
  font-family: var(--font-family);
  width: 100%;
  max-width: 1520px;
  height: 264px;
  text-align: center;
}
.grow__bar {
  margin: 64px;
}
.grow__bar h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--color-blackd);
}
.grow__bar p {
  margin: 24px auto 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-greyd);
  width: 768px;
}
.grow__bar .button_center {
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  height: var(--button-height);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.grow__bar .button_center .demo {
  padding: 16px 28px;
  border-radius: 8px;
  border: 1px solid #7f56d9;
  width: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.grow__bar .button_center .demo span {
  color: var(--color-grey-button);
}
.grow__bar .button_center .sign_up {
  padding: 16px 28px;
  border-radius: 8px;
  border: 1px solid #7f56d9;
  width: 121px;
  margin-left: 12px;
}
.grow__bar .button_center .sign_up span {
  color: var(--color-white);
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Heebo", sans-serif;
  --color-blackd: #101828;
  --color-greyd: #667085;
  --color-grey-button: #344054;
  --color-white: #fff;
  --button-height: 60px;
  --button-font-weight: 500;
  --button-line-height: 156%;
}