@import "mixins.scss";
@import "variables.scss";
@import "style.scss";


:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Heebo", sans-serif;
  --color-blackd: #101828;
  --color-greyd: #667085;
  --color-grey-button: #344054;
  --color-whited: #fff;
  --color-button: #7F56D9;
  --button-height: 60px;
  --button-font-weight: 500;
  --button-line-height: 156%;
}