$breakpoint-desktop: 1920px;
$breakpoint-tablet: 1440px;
$breakpoint-tablet-landscape: 1280px;
$breakpoint-tablet-portrait: 960px;
$breakpoint-tablet-next: 760px;
$breakpoint-desktop-small: 480px;
$breakpoint-mobile: 360px;